/* Variáveis Globais */
:root {
    --cor-primaria: #0035d1;
    --cor-secundaria: #ff7700;
    --cor-neutra: #f5f5f5;
    --cor-texto: #333;
    --cor-texto-claro: #ffffff;
    --borda-radius: 10px;
    --sombra-padrao: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transicao-padrao: 0.3s ease-in-out;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0059ff;
    color: #333;
}

/* Garantir que inputs, buttons e textarea usem a mesma fonte */
input,
button,
textarea,
select,
label {
    font-family: inherit; /* Herda a fonte definida no body */
}

/* Estilo para o cabeçalho */
/* Header */
.custom-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #0035d1;
}

.logo-img {
    max-height: 100px;
}

.logo {
    flex: 0; /* Permite que o logo ocupe espaço proporcional */
    text-align: left; /* Centraliza o logo */
}

.contact-info {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fa9204;
}

.contact-info a {
    color:#fa9204;
    text-decoration: none;
    font-weight: bold;
}

.contact-info i {
    color: #007bff;
    margin-right: 5px;
}

.search-bar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999; /* Garantir que esteja acima de outros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results .produto {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-results .produto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}



.search-bar input[type="text"] {
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno ao focar */
    background: transparent; /* Fundo transparente */
    padding: 10px;
    font-size: 14px;
    flex: 1;
    color: #333;
}


.search-bar form {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 5px 15px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 14px;
    color: #555;
    width: 200px;
}

.search-bar input::placeholder {
    color: #c4c1c1;
}

.search-bar button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #ff6600;
}

/* Bottom Bar */
.bottom-bar {
    background-color: #fa9204;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bottom-bar li {
    display: inline-block;
    position: relative;
}

.bottom-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.bottom-bar a:hover {
    color: #fa9204;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #eee;
}

/* Estilos para o banner */
.banner img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilos para a seção de destaques */
.destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.destaques h2 {
    font-size: 2.5em;
    color: #2d30e7;
    margin-bottom: 20px;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.produto {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.produto h3 {
    color: #ff7707;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.produto p {
    color: #555;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.produto button {
    background-color: #2d30e7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

.produto button:hover {
    background-color: #1c1f99;
}


/* Estilos para o rodapé */
footer {
    background-color: #2d30e7;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

footer .redes-sociais {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

footer .redes-sociais a {
    margin: 0 10px;
    display: inline-block;
}

footer .redes-sociais img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
    border-radius: 19%; /* Torna os ícones arredondados */
}

footer .redes-sociais img:hover {
    transform: scale(1.2);
}


/* Estilos para a página do carrinho */
.carrinho {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.carrinho:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.carrinho h2 {
    text-align: center;
    margin-bottom: 20px;
}

.lista-produtos {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.lista-produtos li {
    padding: 15px;
    border-bottom: 2px solid #eee;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-produtos li:hover {
    background-color: #f9f9f9;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.pagamento, .endereco, .cartao {
    margin: 20px 0;
    text-align: left;
}

.pagamento h3, .endereco h3, .cartao h3 {
    margin-bottom: 10px;
}

.pagamento label, .endereco label, .cartao label {
    display: block;
    margin-bottom: 10px;
}

.pagamento input, .endereco input, .cartao input {
    margin-right: 10px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.mensagem-compra {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    display: none;
}

/* Custom radio button styling */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.btn-finalizar, .btn-voltar, .btn-remover-tudo {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.btn-finalizar:hover, .btn-voltar:hover, .btn-remover-tudo:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2d30e7;
    color: white;
    margin-top: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    .search-bar {
        justify-content: center;
        margin-top: 10px;
    }

    .produtos-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .carrinho {
        width: 90%;
        padding: 10px;
    }

    .btn-finalizar, .btn-voltar, .btn-remover-tudo {
        padding: 10px;
        font-size: 14px; /* Tamanho menor para dispositivos móveis */
    }
}

/* Feedback visual para botões */
.btn-finalizar:active, .btn-voltar:active, .btn-remover-tudo:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px); /* Efeito de pressionar o botão */
}

/* Estilização para lista vazia */
.lista-produtos:empty:before {
    content: "Seu carrinho está vazio. Adicione produtos!";
    display: block;
    text-align: center;
    padding: 20px;
    color: #aaa;
}

/* Hover nos itens do carrinho */
.lista-produtos li:hover {
    background-color: #f0f0f0;
    color: #000; /* Mudança na cor do texto */
    cursor: pointer;
}

/* Separadores mais distintos */
.lista-produtos li {
    border-bottom: 3px dashed #ddd; /* Tornando o separador mais visível */
}

/* Estilos para os itens */
.itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    transition: opacity 0.3s ease;
}

.item {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 1;
}

.item.fade-out {
    opacity: 0;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.item p {
    margin-bottom: 10px;
}

.item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.item button.added {
    background-color: #28a745 !important;
    transform: scale(1.1);
}

.quantity {
    margin-bottom: 10px;
}

/* Estilos para a notificação */
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* Estilos para a seção de contato */
.contato {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.contato h2 {
    margin-bottom: 30px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para informações adicionais de contato */
.informacoes-contato {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.informacoes-contato h2 {
    color: #2d30e7;
}

.informacoes-contato div {
    line-height: 1.6;
}

/* Centraliza e redimensiona a imagem principal */
.produto .galeria-imagens {
    text-align: center;
    margin-bottom: 20px;
}

.produto #imagem-principal {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo das miniaturas */
.produto .miniaturas img {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.produto .miniaturas img:hover {
    transform: scale(1.1);
}

/* Estilização para a seção de detalhes do produto */
.produto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produto h2 {
    color: #2d30e7;
    font-size: 2em;
    margin-bottom: 10px;
}

.produto p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.produto .btn-adicionar-carrinho {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.produto .btn-adicionar-carrinho:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Estilização para a seção de avaliações */
.avaliacoes {
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avaliacoes h3 {
    color: #2d30e7;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.avaliacoes ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.avaliacoes ul li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.avaliacoes form {
    display: flex;
    flex-direction: column;
}

.avaliacoes label {
    font-weight: bold;
    margin-bottom: 5px;
}

.avaliacoes input[type="text"],
.avaliacoes textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.avaliacoes button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.avaliacoes button:hover {
    background-color: #0056b3;
}

/* Estilização do rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2d30e7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Estilos para centralizar os formulários de login e cadastro */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh; /* Ocupar pelo menos 70% da altura da viewport */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centralizar no eixo horizontal */
    max-width: 400px; /* Limitar a largura máxima */
}

.form-container h2 {
    margin-bottom: 20px;
    color: #2d30e7;
}

.form-container .form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garantir que padding não afete a largura */
}

.form-container button.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.form-container button.btn:hover {
    background-color: #0056b3;
}

.form-container p {
    margin-top: 15px;
}

.form-container p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.form-container p a:hover {
    text-decoration: underline;
}

.header-title-link {
    color: hwb(0 100% 0%);
    text-decoration: none;
}

.auth-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
    max-width: 999px;
    margin: 0 auto;
}

.auth-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.auth-box h2 {
    text-align: center;
    color: #2d30e7;
    margin-bottom: 20px;
}

.auth-box .form-group {
    margin-bottom: 10px;
}

.auth-box label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    color: #333;
}

.auth-box input {
    width: 100%;
    padding: 5px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.auth-box button:hover {
    background-color: #0056b3;
}

/* Container do Carrossel */
.carrossel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Slides */
.carrossel-slide {
    display: none;
    text-align: center;
    position: relative;
}

.carrossel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carrossel-slide .caption {
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

/* Botões de navegação */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
    border-radius: 50%;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Pontos de Navegação */
.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

/* Exibir o slide ativo */
.carrossel-slide.active {
    display: block;
}

/* Localização */
.localizacao {
    text-align: center;
    padding: 30px 15px;
    background-color: #f9f9f9;
}

.localizacao h1 {
    color: #2d30e7;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.endereco {
    max-width: 400px;
    text-align: left;
}

.endereco p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.mapa iframe {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*footer no final da página*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos 100% da altura da janela */
    margin: 0;
}

main {
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    padding-bottom: 60px; /* Espaço reservado para o footer */
}

footer {
    background-color: #0035d1;
    color: white;
    text-align: center;
    padding: 10px 0px;
    position: relative; /* Não fixa no final */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/*banner*/
.banner img {
    width: 50%; /* Ocupa toda a largura da tela */
    height: 100%; /* Ajusta automaticamente a altura para manter a proporção */
    max-height: 600px; /* Define uma altura máxima */
    display: block; /* Remove espaços ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem */
    object-fit: cover; /* Ajusta como a imagem é cortada para preencher o espaço */
}

/* Fundo branco nos itens*/
.item {
    background-color: #fff; /* Fundo branco */
    color: #333; /* Texto escuro para contraste */
    border: 1px solid #ccc; /* Borda cinza clara para definição */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    transition: transform 0.3s, box-shadow 0.3s; /* Transição para animação */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002D62;
    color: #333;
}

.quem-somos {
    padding: 50px 15px;
}

.sobre-nos {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-nos h1 {
    font-size: 2rem;
    color: #002D62; /* Azul-escuro */
    text-align: center;
    margin-bottom: 20px;
}

.sobre-nos p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

/*carrossel animação*/

.carrossel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #002D62; /* Fundo para melhor visualização */
}

.carrossel-slide img {
    width: 100%; /* Ajusta a largura para ocupar todo o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Garante que a imagem preencha o espaço */
    border-radius: 10px; /* Mantém bordas arredondadas */
}

.carrossel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.carrossel-slide.active {
    display: block;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.carrossel-slide.fade-in {
    animation-name: fadeIn;
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.custom-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*títulos seções*/
.nome-secao {
    text-align: center;
    background-color: var(--cor-primaria);
    padding: 1px 0;
    margin: 0;
    color: var(--cor-texto-claro);
    font-size: 1.8em;
    font-weight: bolder;
    border-bottom: 2px solid var(--cor-secundaria);
}

@media (max-width: 768px) {
    .nome-secao h1 {
        font-size: 1.5em;
    }
}
/*Página quem somos imagens*/
.galeria {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.galeria h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

.galeria .imagens {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeria .imagens img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.galeria .imagens img:hover {
    transform: scale(1.05);
}

/* Estilo para o lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.lightbox .close:hover {
    color: #f1f1f1;
}

.imagens img {
    cursor: pointer;
}

/*barra de progresso*/
.progress-bar {
    display: flex;
    justify-content: space-between; /* Espaçamento uniforme */
    align-items: center;
    margin: 20px auto;
    max-width: 800px; /* Largura máxima da barra */
    position: relative;
}

.progress-bar .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1; /* Faz as etapas ocuparem o mesmo espaço */
    z-index: 1;
    padding: 0 10px; /* Adiciona espaçamento horizontal */
}

.progress-bar .step .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Tamanho do círculo */
    height: 40px; /* Tamanho do círculo */
    border-radius: 50%;
    border: 2px solid #ddd; /* Borda cinza inicial */
    background-color: transparent;
    color: #ddd; /* Texto cinza inicial */
    font-size: 16px;
    font-weight: bold;
}

.progress-bar .step.active .icon {
    border-color: #00bfff; /* Borda azul clara para a etapa ativa */
    color: #00bfff; /* Texto azul claro */
}

.progress-bar .step.completed .icon {
    background-color: #4caf50; /* Fundo verde para etapas concluídas */
    color: #fff;
    border-color: #4caf50;
}

.progress-bar .step span {
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff; /* Texto cinza inicial */
    text-align: center;
    margin-bottom: 10px; /* Aumenta o espaçamento inferior entre os textos */
}

.progress-bar .step.active span {
    color: #00bfff; /* Texto azul claro */
}

.progress-bar .step.completed span {
    color: #4caf50; /* Texto verde para etapas concluídas */
}


.etapa {
    display: none;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.etapa.ativa {
    display: block;
}

.escondida {
    display: none;
}

/* Textos dentro da seção do carrinho */
.carrinho-etapas {
    color: #fff; /* Define os textos como brancos apenas dentro desta seção */
}

/* Progress Bar textos */
.carrinho-etapas .progress-bar .step span {
    color: #fff; /* Torna os textos dos passos brancos */
}

/* Títulos e Total */
.carrinho-etapas h2, 
.carrinho-etapas h3, 
.carrinho-etapas .total {
    color: #fff; /* Textos brancos para títulos e total */
}
/* Estilização dos botões na seção de identificação */
.carrinho-etapas .etapa .btn-voltar,
.carrinho-etapas .etapa .btn-proximo {
    display: inline-block;
    width: 150px; /* Define a mesma largura para ambos os botões */
    padding: 10px 20px; /* Ajusta o preenchimento interno */
    text-align: center;
    font-size: 16px; /* Tamanho uniforme do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Espaçamento entre os botões */
}

/* Cor de fundo personalizada */
.carrinho-etapas .etapa .btn-voltar {
    background-color: #007bff; /* Azul padrão */
    color: #fff; /* Texto branco */
}

.carrinho-etapas .etapa .btn-proximo {
    background-color: #00bfff; /* Azul claro */
    color: #fff; /* Texto branco */
}

/* Centralização dos botões */
.carrinho-etapas .etapa {
    text-align: center;
}

/* Estilo para os botões "Voltar" e "Finalizar Compra" */
.carrinho-etapas .etapa .btn-voltar,
.carrinho-etapas .etapa .btn-proximo {
    display: inline-block;
    width: 180px; /* Define a mesma largura para ambos */
    padding: 10px 20px; /* Ajusta o preenchimento interno */
    text-align: center;
    font-size: 16px; /* Tamanho uniforme do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Espaçamento entre os botões */
}

/* Cores personalizadas */
.carrinho-etapas .etapa .btn-voltar {
    background-color: #007bff; /* Azul padrão */
    color: #fff; /* Texto branco */
}

.carrinho-etapas .etapa .btn-proximo {
    background-color: #00bfff; /* Azul claro */
    color: #fff; /* Texto branco */
}

/* Centralização dos botões */
.carrinho-etapas .etapa {
    text-align: center; /* Centraliza os botões na seção */
}

/* Estilo para os inputs */
.carrinho-etapas .etapa input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para os labels */
.carrinho-etapas .etapa label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

/* Centraliza os elementos no formulário */
.carrinho-etapas .etapa form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}

.error-message {
    color: red;
    font-size: 14px;
    display: none; /* Oculto por padrão */
    margin-top: 5px;
}

.alerta-sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.error-message {
    font-size: 12px;
    color: red;
    display: none;
}

.input-error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none; /* Oculto por padrão */
    margin-top: 5px;
}


#mensagem-sucesso {
    padding: 20px;
    background-color: #4caf50; /* Verde de sucesso */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    display: none; /* Oculta inicialmente */
}

